name: Build
on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cabal
            dist-newstyle
          key: ${{ runner.os }}-cabal-${{ hashFiles('**/*.cabal') }}
          restore-keys: ${{ runner.os }}-cabal-

      - name: Install GHC
        uses: haskell/actions/setup@v2
        with:
          ghc-version: "9.10.3"
          enable-stack: false

      - name: Build
        run: cabal build

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: cripto-final
          path: dist-newstyle/build/*/*/*/x/cripto-final/build/cripto-final/cripto-final
